<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>DataBase</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>List users</div>
    <div>
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Mail</th>
                <th>Pas</th>
                <th>login</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.ID}"></td>
                <td th:text="${user.Mail}"></td>
                <td th:text="${user.Pas}"></td>
                <td th:text="${user.login}"></td>
            </tbody>
        </table>
    </div>
    <div>Add user</div>
    <form method="post">
        <input type="text" name="Mail" placeholder="Mail"/>
        <input type="text" name="Pas" placeholder="Pas"/>
        <input type="text" name="login" placeholder="login"/>
        <input type="text" name="role" placeholder="login"/>
        <button type="submit">Add</button>
    </form>
</body>
</html>